@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;700&family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";

/* List styles for contentEditable */
ul {
  list-style-type: disc;
  margin-left: 20px;
}

ol {
  list-style-type: decimal;
  margin-left: 20px;
}
